.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  /* width: 120px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
}

.square {
  border: 1px solid;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
